@using CMS.Helpers;
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Message = "Sign Up";
    bool isRtl = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft;
    ViewBag.role = "Customer";
}
<!--Signup form-->
<div class="center-form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                <h1>
                    @ResHelper.GetString("PrintForMe.SignUp")
                </h1>
                <div class="signup-form">
                    <div class="tab-content @(isRtl? " text-right" : "text-left" )" id="myTabContent">
                        <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="home-tab">
                            @Html.Partial("_RegisterCustomer")
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <p>
                            @ResHelper.GetString("PrintForMe.AlreadyHaveAccount")
                            @Html.ActionLink(ResHelper.GetString("PrintForMe.Login"), "SignIn", null, new { @class = "font-primary-medium" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Signup form-->
